<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/1.png" width="100%" height="225" >
          <div class="card-body">
            <p class="card-text">Naruto</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/2.jpg" width="100%" height="225" >
          <div class="card-body">
            <p class="card-text">Tokyo ghoul</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/3.jpg" width="100%" height="225" >
          <div class="card-body">
            <p class="card-text">Hikaru no go</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/4.jpg" width="100%" height="225" >
          <div class="card-body">
            <p class="card-text">Kuroko no basket</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/5.jpg" width="100%" height="225" >
          <div class="card-body">
            <p class="card-text">Inuyasha</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/6.jpg" width="100%" height="225" >
          <div class="card-body">
            <p class="card-text">Code geass</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



