<section class = "container">
  <div class="row">
    <div class="col-lg-6 mx-auto">

      <h2>Welcome login</h2>

      <form name="form">

        <div class="form-group">
          <label for="username">Username</label>
            <input type="text" class="form-control" name="username"/>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" required minlength="6"/>
        </div>


        <div class="form-group">
          <button class="btn btn-primary">
            sign in
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
